#div1{ height: 19cm;
    width: 35cm;
    background-image: url(https://domf5oio6qrcr.cloudfront.net/medialibrary/9685/iStock-544807136.jpg);
    background-size: cover;
    font-style: oblique;
    border-style: hidden;
}